################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Extra/Lavspent.AsyncInline/obj/Debug/netstandard1.0
